version: 7.3.0

type: DeclarativeSource

description: >-
  This is the Cin7 source that ingests data from the Cin7 API.


  Cin7 (Connector Inventory Performance), If you’re a business that wants to
  grow, you need an inventory solution you can count on - both now and in the
  future. With Cin7 you get a real-time picture of your products across systems,
  channels, marketplaces and regions, plus NEW ForesightAI advanced inventory
  forecasting that empowers you to see around corners and stay three steps ahead
  of demand! https://www.cin7.com/


  To use this source, you must first create an account. Once logged in, head to
  Integrations -> API -> Cin7 Core API.

  Create an application and note down the Account Id and the API key, you will
  need to enter these in the input fields. You can find more information about
  the API here https://dearinventory.docs.apiary.io/#reference

check:
  type: CheckStream
  stream_names:
    - bank_accounts

definitions:
  linked:
    HttpRequester:
      request_headers:
        api-auth-accountid: "{{ config[\"accountid\"] }}"
        api-auth-applicationkey: "{{ config[\"api_key\"] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: bank_accounts
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/accountBank
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - BankAccountsList
    primary_key:
      - AccountID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          AccountID:
            type: string
          Bank:
            type:
              - string
              - "null"
          AccountName:
            type:
              - string
              - "null"
          AccountNumber:
            type:
              - string
              - "null"
          AccountCode:
            type:
              - string
              - "null"
          Currency:
            type:
              - string
              - "null"
          StatementBalance:
            type:
              - number
              - "null"
          InitialBalance:
            type:
              - number
              - "null"
        required:
          - AccountID
        additionalProperties: true
  - type: DeclarativeStream
    name: attribute_sets
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/attributeset
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - AttributeSetList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
          Attributes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Name:
                  type:
                    - string
                    - "null"
                Type:
                  type:
                    - string
                    - "null"
                Values:
                  type:
                    - string
                    - "null"
          Attribute1Name:
            type:
              - string
              - "null"
          Attribute1Type:
            type:
              - string
              - "null"
          Attribute2Name:
            type:
              - string
              - "null"
          Attribute2Type:
            type:
              - string
              - "null"
          Attribute3Name:
            type:
              - string
              - "null"
          Attribute3Type:
            type:
              - string
              - "null"
          Attribute4Name:
            type:
              - string
              - "null"
          Attribute4Type:
            type:
              - string
              - "null"
          Attribute5Name:
            type:
              - string
              - "null"
          Attribute5Type:
            type:
              - string
              - "null"
          Attribute6Name:
            type:
              - string
              - "null"
          Attribute6Type:
            type:
              - string
              - "null"
          Attribute7Name:
            type:
              - string
              - "null"
          Attribute7Type:
            type:
              - string
              - "null"
          Attribute8Name:
            type:
              - string
              - "null"
          Attribute8Type:
            type:
              - string
              - "null"
          Attribute9Name:
            type:
              - string
              - "null"
          Attribute9Type:
            type:
              - string
              - "null"
          Attribute10Name:
            type:
              - string
              - "null"
          Attribute10Type:
            type:
              - string
              - "null"
          Attribute2Values:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: accounts
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/account
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - AccountsList
    primary_key:
      - Code
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - Code
        properties:
          Code:
            type: string
          Name:
            type:
              - string
              - "null"
          Type:
            type:
              - string
              - "null"
          Class:
            type:
              - string
              - "null"
          Status:
            type:
              - string
              - "null"
          Description:
            type:
              - string
              - "null"
          DisplayName:
            type:
              - string
              - "null"
          ForPayments:
            type:
              - boolean
              - "null"
          BankAccountId:
            type:
              - string
              - "null"
          SystemAccount:
            type:
              - string
              - "null"
          BankAccountNumber:
            type:
              - string
              - "null"
          SystemAccountCode:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: brands
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/brand
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - BrandList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: carriers
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/carrier
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - CarrierList
    primary_key:
      - CarrierID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - CarrierID
        properties:
          CarrierID:
            type: string
          Description:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: customers
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/customer
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        request_parameters:
          IncludeDeprecated: "true"
          IncludeProductPrices: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - CustomerList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
          Tags:
            type:
              - string
              - "null"
          Status:
            type:
              - string
              - "null"
          Carrier:
            type:
              - string
              - "null"
          TaxRule:
            type:
              - string
              - "null"
          Comments:
            type:
              - string
              - "null"
          Contacts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                Fax:
                  type:
                    - string
                    - "null"
                Name:
                  type:
                    - string
                    - "null"
                Email:
                  type:
                    - string
                    - "null"
                Phone:
                  type:
                    - string
                    - "null"
                Comment:
                  type:
                    - string
                    - "null"
                Default:
                  type:
                    - boolean
                    - "null"
                Website:
                  type:
                    - string
                    - "null"
                JobTitle:
                  type:
                    - string
                    - "null"
                MobilePhone:
                  type:
                    - string
                    - "null"
                IncludeInEmail:
                  type:
                    - boolean
                    - "null"
                MarketingConsent:
                  type:
                    - number
                    - "null"
          Currency:
            type:
              - string
              - "null"
          Discount:
            type:
              - number
              - "null"
          Location:
            type:
              - string
              - "null"
          Addresses:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                City:
                  type:
                    - string
                    - "null"
                Type:
                  type:
                    - string
                    - "null"
                Line1:
                  type:
                    - string
                    - "null"
                Line2:
                  type:
                    - string
                    - "null"
                State:
                  type:
                    - string
                    - "null"
                Country:
                  type:
                    - string
                    - "null"
                Postcode:
                  type:
                    - string
                    - "null"
                DefaultForType:
                  type:
                    - boolean
                    - "null"
          PriceTier:
            type:
              - string
              - "null"
          TaxNumber:
            type:
              - string
              - "null"
          CreditLimit:
            type:
              - number
              - "null"
          PaymentTerm:
            type:
              - string
              - "null"
          ProductPrices:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Price:
                  type:
                    - number
                    - "null"
                ProductID:
                  type:
                    - string
                    - "null"
                ProductSKU:
                  type:
                    - string
                    - "null"
                ProductName:
                  type:
                    - string
                    - "null"
          IsOnCreditHold:
            type:
              - boolean
              - "null"
          LastModifiedOn:
            type:
              - string
              - "null"
          RevenueAccount:
            type:
              - string
              - "null"
          AccountReceivable:
            type:
              - string
              - "null"
          SalesRepresentative:
            type:
              - string
              - "null"
          AdditionalAttribute1:
            type:
              - string
              - "null"
          AdditionalAttribute2:
            type:
              - string
              - "null"
          AdditionalAttribute3:
            type:
              - string
              - "null"
          AdditionalAttribute4:
            type:
              - string
              - "null"
          AdditionalAttribute5:
            type:
              - string
              - "null"
          AdditionalAttribute6:
            type:
              - string
              - "null"
          AdditionalAttribute7:
            type:
              - string
              - "null"
          AdditionalAttribute8:
            type:
              - string
              - "null"
          AdditionalAttribute9:
            type:
              - string
              - "null"
          AdditionalAttribute10:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: deals
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/reference/deals
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - Deals
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
          DateTo:
            type:
              - string
              - "null"
          DateFrom:
            type:
              - string
              - "null"
          IsActive:
            type:
              - boolean
              - "null"
          CouponCodes:
            type:
              - string
              - "null"
          AllowCoupons:
            type:
              - boolean
              - "null"
          DealCustomers:
            type:
              - array
              - "null"
          DealDiscounts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                BuyMore:
                  type:
                    - boolean
                    - "null"
                Sequence:
                  type:
                    - number
                    - "null"
                DiscountID:
                  type:
                    - string
                    - "null"
                DiscountName:
                  type:
                    - string
                    - "null"
                DiscountType:
                  type:
                    - string
                    - "null"
                IsOrderLevel:
                  type:
                    - boolean
                    - "null"
                DealDiscountTags:
                  type:
                    - array
                    - "null"
                DealDiscountBrands:
                  type:
                    - array
                    - "null"
                DealDiscountProducts:
                  type:
                    - array
                    - "null"
                DealDiscountCategories:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      ID:
                        type:
                          - string
                          - "null"
                      CategoryID:
                        type:
                          - string
                          - "null"
                      CategoryName:
                        type:
                          - string
                          - "null"
          CustomersGroup:
            type:
              - string
              - "null"
          DealCustomerTags:
            type:
              - array
              - "null"
          SingleCouponCodeUsage:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: locations
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/location
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - LocationList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Bins:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                Name:
                  type:
                    - string
                    - "null"
                IsStaging:
                  type:
                    - boolean
                    - "null"
                IsDeprecated:
                  type:
                    - boolean
                    - "null"
          Name:
            type:
              - string
              - "null"
          IsCoMan:
            type:
              - boolean
              - "null"
          ParentID:
            type:
              - string
              - "null"
          IsDefault:
            type:
              - boolean
              - "null"
          IsStaging:
            type:
              - boolean
              - "null"
          PickZones:
            type:
              - string
              - "null"
          IsShopFloor:
            type:
              - boolean
              - "null"
          AddressLine1:
            type:
              - string
              - "null"
          AddressLine2:
            type:
              - string
              - "null"
          IsDeprecated:
            type:
              - boolean
              - "null"
          AddressCountry:
            type:
              - string
              - "null"
          AddressCitySuburb:
            type:
              - string
              - "null"
          AddressZipPostCode:
            type:
              - string
              - "null"
          FixedAssetsLocation:
            type:
              - boolean
              - "null"
          AddressStateProvince:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: products
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/product
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        request_parameters:
          IncludeBOM: "true"
          IncludeMovements: "true"
          IncludeSuppliers: "true"
          IncludeDeprecated: "true"
          IncludeAttachments: "true"
          IncludeCustomPrices: "true"
          IncludeReorderLevels: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - Products
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          SKU:
            type:
              - string
              - "null"
          UOM:
            type:
              - string
              - "null"
          Name:
            type:
              - string
              - "null"
          Tags:
            type:
              - string
              - "null"
          Type:
            type:
              - string
              - "null"
          Width:
            type:
              - number
              - "null"
          Height:
            type:
              - number
              - "null"
          Length:
            type:
              - number
              - "null"
          Status:
            type:
              - string
              - "null"
          Weight:
            type:
              - number
              - "null"
          BOMType:
            type:
              - string
              - "null"
          Barcode:
            type:
              - string
              - "null"
          Category:
            type:
              - string
              - "null"
          Sellable:
            type:
              - boolean
              - "null"
          Movements:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Date:
                  type:
                    - string
                    - "null"
                Type:
                  type:
                    - string
                    - "null"
                Amount:
                  type:
                    - number
                    - "null"
                FromTo:
                  type:
                    - string
                    - "null"
                Number:
                  type:
                    - string
                    - "null"
                TaskID:
                  type:
                    - string
                    - "null"
                BatchSN:
                  type:
                    - string
                    - "null"
                Location:
                  type:
                    - string
                    - "null"
                Quantity:
                  type:
                    - number
                    - "null"
          PickZones:
            type:
              - string
              - "null"
          Suppliers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Cost:
                  type:
                    - number
                    - "null"
                Currency:
                  type:
                    - string
                    - "null"
                DropShip:
                  type:
                    - boolean
                    - "null"
                FixedCost:
                  type:
                    - number
                    - "null"
                ProductID:
                  type:
                    - string
                    - "null"
                SupplierID:
                  type:
                    - string
                    - "null"
                LastSupplied:
                  type:
                    - string
                    - "null"
                PurchaseCost:
                  type:
                    - number
                    - "null"
                SupplierName:
                  type:
                    - string
                    - "null"
                ProductSupplierID:
                  type:
                    - string
                    - "null"
                SupplierInventoryCode:
                  type:
                    - string
                    - "null"
                ProductSupplierOptions:
                  type:
                    - array
                    - "null"
          PriceTier1:
            type:
              - number
              - "null"
          PriceTier2:
            type:
              - number
              - "null"
          PriceTier3:
            type:
              - number
              - "null"
          PriceTier4:
            type:
              - number
              - "null"
          PriceTier5:
            type:
              - number
              - "null"
          PriceTier6:
            type:
              - number
              - "null"
          PriceTier7:
            type:
              - number
              - "null"
          PriceTier8:
            type:
              - number
              - "null"
          PriceTier9:
            type:
              - number
              - "null"
          PriceTiers:
            type:
              - object
              - "null"
            properties:
              Tier 6:
                type:
                  - number
                  - "null"
              Tier 7:
                type:
                  - number
                  - "null"
              Tier 8:
                type:
                  - number
                  - "null"
              Tier 9:
                type:
                  - number
                  - "null"
              Tier 10:
                type:
                  - number
                  - "null"
              China Star:
                type:
                  - number
                  - "null"
              H mart & Weee:
                type:
                  - number
                  - "null"
              Stander Price:
                type:
                  - number
                  - "null"
              Major Customers:
                type:
                  - number
                  - "null"
              West Lake & Golden King:
                type:
                  - number
                  - "null"
          Attachments:
            type:
              - array
              - "null"
          AverageCost:
            type:
              - number
              - "null"
          COGSAccount:
            type:
              - string
              - "null"
          CartonWidth:
            type:
              - number
              - "null"
          Description:
            type:
              - string
              - "null"
          PriceTier10:
            type:
              - number
              - "null"
          SaleTaxRule:
            type:
              - string
              - "null"
          WeightUnits:
            type:
              - string
              - "null"
          AutoAssembly:
            type:
              - boolean
              - "null"
          CartonHeight:
            type:
              - number
              - "null"
          CartonLength:
            type:
              - number
              - "null"
          CustomPrices:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Price:
                  type:
                    - number
                    - "null"
                CustomerID:
                  type:
                    - string
                    - "null"
                CustomerName:
                  type:
                    - string
                    - "null"
                CustomerCurrency:
                  type:
                    - string
                    - "null"
          DropShipMode:
            type:
              - string
              - "null"
          InternalNote:
            type:
              - string
              - "null"
          StockLocator:
            type:
              - string
              - "null"
          CostingMethod:
            type:
              - string
              - "null"
          ReorderLevels:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                PickZones:
                  type:
                    - string
                    - "null"
                LocationID:
                  type:
                    - string
                    - "null"
                LocationName:
                  type:
                    - string
                    - "null"
                StockLocator:
                  type:
                    - string
                    - "null"
                ReorderQuantity:
                  type:
                    - number
                    - "null"
                MinimumBeforeReorder:
                  type:
                    - number
                    - "null"
          BillOfMaterial:
            type:
              - boolean
              - "null"
          CartonQuantity:
            type:
              - number
              - "null"
          ExpenseAccount:
            type:
              - string
              - "null"
          LastModifiedOn:
            type:
              - string
              - "null"
          RevenueAccount:
            type:
              - string
              - "null"
          AutoDisassembly:
            type:
              - boolean
              - "null"
          DefaultLocation:
            type:
              - string
              - "null"
          DimensionsUnits:
            type:
              - string
              - "null"
          PurchaseTaxRule:
            type:
              - string
              - "null"
          ReorderQuantity:
            type:
              - number
              - "null"
          InventoryAccount:
            type:
              - string
              - "null"
          ShortDescription:
            type:
              - string
              - "null"
          QuantityToProduce:
            type:
              - number
              - "null"
          AlwaysShowQuantity:
            type:
              - number
              - "null"
          CartonInnerQuantity:
            type:
              - number
              - "null"
          AdditionalAttribute1:
            type:
              - string
              - "null"
          AdditionalAttribute2:
            type:
              - string
              - "null"
          AdditionalAttribute3:
            type:
              - string
              - "null"
          AdditionalAttribute4:
            type:
              - string
              - "null"
          AdditionalAttribute5:
            type:
              - string
              - "null"
          AdditionalAttribute6:
            type:
              - string
              - "null"
          AdditionalAttribute7:
            type:
              - string
              - "null"
          AdditionalAttribute8:
            type:
              - string
              - "null"
          AdditionalAttribute9:
            type:
              - string
              - "null"
          MinimumBeforeReorder:
            type:
              - number
              - "null"
          AdditionalAttribute10:
            type:
              - string
              - "null"
          AssemblyInstructionURL:
            type:
              - string
              - "null"
          BillOfMaterialsProducts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Name:
                  type:
                    - string
                    - "null"
                Quantity:
                  type:
                    - number
                    - "null"
                ProductCode:
                  type:
                    - string
                    - "null"
                CostPercentage:
                  type:
                    - number
                    - "null"
                WastagePercent:
                  type:
                    - number
                    - "null"
                WastageQuantity:
                  type:
                    - number
                    - "null"
                ComponentProductID:
                  type:
                    - string
                    - "null"
          BillOfMaterialsServices:
            type:
              - array
              - "null"
          AssemblyCostEstimationMethod:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: purchase_list
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/purchaseList
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - PurchaseList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Type:
            type:
              - string
              - "null"
          Status:
            type:
              - string
              - "null"
          Supplier:
            type:
              - string
              - "null"
          OrderDate:
            type:
              - string
              - "null"
          PaidAmount:
            type:
              - number
              - "null"
          SupplierID:
            type:
              - string
              - "null"
          InvoiceDate:
            type:
              - string
              - "null"
          OrderNumber:
            type:
              - string
              - "null"
          OrderStatus:
            type:
              - string
              - "null"
          BaseCurrency:
            type:
              - string
              - "null"
          BlindReceipt:
            type:
              - boolean
              - "null"
          InvoiceAmount:
            type:
              - number
              - "null"
          InvoiceNumber:
            type:
              - string
              - "null"
          InvoiceStatus:
            type:
              - string
              - "null"
          IsServiceOnly:
            type:
              - boolean
              - "null"
          UnstockStatus:
            type:
              - string
              - "null"
          InvoiceDueDate:
            type:
              - string
              - "null"
          LastUpdatedDate:
            type:
              - string
              - "null"
          CreditNoteNumber:
            type:
              - string
              - "null"
          CreditNoteStatus:
            type:
              - string
              - "null"
          SupplierCurrency:
            type:
              - string
              - "null"
          StockReceivedStatus:
            type:
              - string
              - "null"
          CombinedInvoiceStatus:
            type:
              - string
              - "null"
          CombinedPaymentStatus:
            type:
              - string
              - "null"
          CombinedReceivingStatus:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: suppliers
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/supplier
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        request_parameters:
          IncludeDeprecated: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - SupplierList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
          Status:
            type:
              - string
              - "null"
          TaxRule:
            type:
              - string
              - "null"
          Comments:
            type:
              - string
              - "null"
          Contacts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                Fax:
                  type:
                    - string
                    - "null"
                Name:
                  type:
                    - string
                    - "null"
                Email:
                  type:
                    - string
                    - "null"
                Phone:
                  type:
                    - string
                    - "null"
                Comment:
                  type:
                    - string
                    - "null"
                Default:
                  type:
                    - boolean
                    - "null"
                Website:
                  type:
                    - string
                    - "null"
                MobilePhone:
                  type:
                    - string
                    - "null"
                IncludeInEmail:
                  type:
                    - boolean
                    - "null"
          Currency:
            type:
              - string
              - "null"
          Discount:
            type:
              - number
              - "null"
          Addresses:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                City:
                  type:
                    - string
                    - "null"
                Type:
                  type:
                    - string
                    - "null"
                Line1:
                  type:
                    - string
                    - "null"
                Line2:
                  type:
                    - string
                    - "null"
                State:
                  type:
                    - string
                    - "null"
                Country:
                  type:
                    - string
                    - "null"
                Postcode:
                  type:
                    - string
                    - "null"
                DefaultForType:
                  type:
                    - boolean
                    - "null"
          TaxNumber:
            type:
              - string
              - "null"
          PaymentTerm:
            type:
              - string
              - "null"
          AccountPayable:
            type:
              - string
              - "null"
          LastModifiedOn:
            type:
              - string
              - "null"
          AdditionalAttribute1:
            type:
              - string
              - "null"
          AdditionalAttribute2:
            type:
              - string
              - "null"
          AdditionalAttribute3:
            type:
              - string
              - "null"
          AdditionalAttribute4:
            type:
              - string
              - "null"
          AdditionalAttribute5:
            type:
              - string
              - "null"
          AdditionalAttribute6:
            type:
              - string
              - "null"
          AdditionalAttribute7:
            type:
              - string
              - "null"
          AdditionalAttribute8:
            type:
              - string
              - "null"
          AdditionalAttribute9:
            type:
              - string
              - "null"
          AdditionalAttribute10:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: opportunities
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/crm/opportunity
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - opportunityList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Lines:
            type:
              - array
              - "null"
          Phone:
            type:
              - string
              - "null"
          Terms:
            type:
              - string
              - "null"
          Total:
            type:
              - number
              - "null"
          LeadID:
            type:
              - string
              - "null"
          Contact:
            type:
              - string
              - "null"
          TaxRule:
            type:
              - string
              - "null"
          Currency:
            type:
              - string
              - "null"
          TaxTotal:
            type:
              - number
              - "null"
          TermDays:
            type:
              - number
              - "null"
          PriceTier:
            type:
              - string
              - "null"
          ShipToCity:
            type:
              - string
              - "null"
          TaxPercent:
            type:
              - number
              - "null"
          TermMethod:
            type:
              - number
              - "null"
          ShipToOther:
            type:
              - boolean
              - "null"
          ShipToState:
            type:
              - string
              - "null"
          CustomField1:
            type:
              - string
              - "null"
          CustomField2:
            type:
              - string
              - "null"
          CustomField3:
            type:
              - string
              - "null"
          CustomField4:
            type:
              - string
              - "null"
          CustomField5:
            type:
              - string
              - "null"
          CustomField6:
            type:
              - string
              - "null"
          CustomField7:
            type:
              - string
              - "null"
          CustomField8:
            type:
              - string
              - "null"
          CustomField9:
            type:
              - string
              - "null"
          CustomerName:
            type:
              - string
              - "null"
          TaxInclusive:
            type:
              - boolean
              - "null"
          CustomField10:
            type:
              - string
              - "null"
          ShipToCompany:
            type:
              - string
              - "null"
          ShipToContact:
            type:
              - string
              - "null"
          ShipToCountry:
            type:
              - string
              - "null"
          DefaultAccount:
            type:
              - string
              - "null"
          ShipToAddress1:
            type:
              - string
              - "null"
          ShipToAddress2:
            type:
              - string
              - "null"
          ShipToPostCode:
            type:
              - string
              - "null"
          OpportunityDate:
            type:
              - string
              - "null"
          OpportunityMemo:
            type:
              - string
              - "null"
          CustomerCurrency:
            type:
              - string
              - "null"
          TermDueNextMonth:
            type:
              - number
              - "null"
          AdditionalCharges:
            type:
              - array
              - "null"
          CustomerReference:
            type:
              - string
              - "null"
          OpportunityNumber:
            type:
              - string
              - "null"
          OpportunityStatus:
            type:
              - string
              - "null"
          OpportunityComment:
            type:
              - string
              - "null"
          BillingAddressLine1:
            type:
              - string
              - "null"
          BillingAddressLine2:
            type:
              - string
              - "null"
          OpportunityLocation:
            type:
              - string
              - "null"
          SalesRepresentative:
            type:
              - string
              - "null"
          ShippingAddressLine1:
            type:
              - string
              - "null"
          ShippingAddressLine2:
            type:
              - string
              - "null"
          CurrencyConversionRate:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: sale_list
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/saleList
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - SaleList
    primary_key:
      - SaleID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - SaleID
          - Updated
        properties:
          Type:
            type:
              - string
              - "null"
          SaleID:
            type: string
          ShipBy:
            type:
              - string
              - "null"
          Status:
            type:
              - string
              - "null"
          Updated:
            type: string
          Customer:
            type:
              - string
              - "null"
          OrderDate:
            type:
              - string
              - "null"
          CustomerID:
            type:
              - string
              - "null"
          ExternalID:
            type:
              - string
              - "null"
          PaidAmount:
            type:
              - number
              - "null"
          InvoiceDate:
            type:
              - string
              - "null"
          OrderNumber:
            type:
              - string
              - "null"
          OrderStatus:
            type:
              - string
              - "null"
          QuoteStatus:
            type:
              - string
              - "null"
          BaseCurrency:
            type:
              - string
              - "null"
          InvoiceAmount:
            type:
              - number
              - "null"
          InvoiceNumber:
            type:
              - string
              - "null"
          RestockStatus:
            type:
              - string
              - "null"
          SourceChannel:
            type:
              - string
              - "null"
          InvoiceDueDate:
            type:
              - string
              - "null"
          OrderLocationID:
            type:
              - string
              - "null"
          CreditNoteNumber:
            type:
              - string
              - "null"
          CreditNoteStatus:
            type:
              - string
              - "null"
          CustomerCurrency:
            type:
              - string
              - "null"
          FulFilmentStatus:
            type:
              - string
              - "null"
          CustomerReference:
            type:
              - string
              - "null"
          CombinedPaymentTotal:
            type:
              - number
              - "null"
          CombinedInvoiceStatus:
            type:
              - string
              - "null"
          CombinedPackingStatus:
            type:
              - string
              - "null"
          CombinedPaymentStatus:
            type:
              - string
              - "null"
          CombinedPickingStatus:
            type:
              - string
              - "null"
          CombinedShippingStatus:
            type:
              - string
              - "null"
          CombinedTrackingNumbers:
            type:
              - string
              - "null"
          SaleInvoicesTotalAmount:
            type:
              - number
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: Updated
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}T00:00:00Z"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S"
      end_time_option:
        type: RequestOption
        field_name: UpdatedUntil
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: UpdatedSince
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
  - type: DeclarativeStream
    name: taxes
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/tax
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - TaxRuleList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
          Account:
            type:
              - string
              - "null"
          IsActive:
            type:
              - boolean
              - "null"
          Components:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Name:
                  type:
                    - string
                    - "null"
                Compound:
                  type:
                    - boolean
                    - "null"
                ComponentOrder:
                  type:
                    - number
                    - "null"
          TaxPercent:
            type:
              - number
              - "null"
          IsTaxForSale:
            type:
              - boolean
              - "null"
          TaxInclusive:
            type:
              - boolean
              - "null"
          IsTaxForPurchase:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: product_categories
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/ref/category
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - CategoryList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: product_family
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/productFamily
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - ProductFamilies
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          SKU:
            type:
              - string
              - "null"
          UOM:
            type:
              - string
              - "null"
          Name:
            type:
              - string
              - "null"
          Tags:
            type:
              - string
              - "null"
          Brand:
            type:
              - string
              - "null"
          Category:
            type:
              - string
              - "null"
          Products:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                SKU:
                  type:
                    - string
                    - "null"
                Name:
                  type:
                    - string
                    - "null"
                Option1:
                  type:
                    - string
                    - "null"
                Option2:
                  type:
                    - string
                    - "null"
                Option3:
                  type:
                    - string
                    - "null"
          PriceTier1:
            type:
              - number
              - "null"
          PriceTier2:
            type:
              - number
              - "null"
          PriceTier3:
            type:
              - number
              - "null"
          PriceTier4:
            type:
              - number
              - "null"
          PriceTier5:
            type:
              - number
              - "null"
          PriceTier6:
            type:
              - number
              - "null"
          PriceTier7:
            type:
              - number
              - "null"
          PriceTier8:
            type:
              - number
              - "null"
          PriceTier9:
            type:
              - number
              - "null"
          Attachments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                FileName:
                  type:
                    - string
                    - "null"
                IsDefault:
                  type:
                    - boolean
                    - "null"
                ContentType:
                  type:
                    - string
                    - "null"
                DownloadUrl:
                  type:
                    - string
                    - "null"
          Description:
            type:
              - string
              - "null"
          Option1Name:
            type:
              - string
              - "null"
          Option2Name:
            type:
              - string
              - "null"
          Option3Name:
            type:
              - string
              - "null"
          PriceTier10:
            type:
              - number
              - "null"
          AttributeSet:
            type:
              - string
              - "null"
          DropShipMode:
            type:
              - string
              - "null"
          CostingMethod:
            type:
              - string
              - "null"
          Option1Values:
            type:
              - string
              - "null"
          Option2Values:
            type:
              - string
              - "null"
          Option3Values:
            type:
              - string
              - "null"
          LastModifiedOn:
            type:
              - string
              - "null"
          DefaultLocation:
            type:
              - string
              - "null"
          ReorderQuantity:
            type:
              - number
              - "null"
          ShortDescription:
            type:
              - string
              - "null"
          MinimumBeforeReorder:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: purchases
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/advanced-purchase
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        request_parameters:
          CombineAdditionalCharges: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/9"
            parent_key: ID
            request_option:
              type: RequestOption
              field_name: ID
              inject_into: request_parameter
            partition_field: ID
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Note:
            type:
              - string
              - "null"
          Type:
            type:
              - string
              - "null"
          Order:
            type:
              - object
              - "null"
            properties:
              Tax:
                type:
                  - number
                  - "null"
              Lines:
                type:
                  - array
                  - "null"
              Total:
                type:
                  - number
                  - "null"
              Status:
                type:
                  - string
                  - "null"
              Prepayments:
                type:
                  - array
                  - "null"
              TotalBeforeTax:
                type:
                  - number
                  - "null"
          Phone:
            type:
              - string
              - "null"
          Terms:
            type:
              - string
              - "null"
          Status:
            type:
              - string
              - "null"
          Contact:
            type:
              - string
              - "null"
          Invoice:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Tax:
                  type:
                    - number
                    - "null"
                Paid:
                  type:
                    - number
                    - "null"
                Lines:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      SKU:
                        type:
                          - string
                          - "null"
                      Tax:
                        type:
                          - number
                          - "null"
                      Name:
                        type:
                          - string
                          - "null"
                      Price:
                        type:
                          - number
                          - "null"
                      Total:
                        type:
                          - number
                          - "null"
                      Account:
                        type:
                          - string
                          - "null"
                      Comment:
                        type:
                          - string
                          - "null"
                      TaxRule:
                        type:
                          - string
                          - "null"
                      Discount:
                        type:
                          - number
                          - "null"
                      Quantity:
                        type:
                          - number
                          - "null"
                      ProductID:
                        type:
                          - string
                          - "null"
                      WeightUnits:
                        type:
                          - string
                          - "null"
                      NonInventory:
                        type:
                          - boolean
                          - "null"
                      ProductWidth:
                        type:
                          - number
                          - "null"
                      ProductHeight:
                        type:
                          - number
                          - "null"
                      ProductLength:
                        type:
                          - number
                          - "null"
                      ProductWeight:
                        type:
                          - number
                          - "null"
                      DimensionsUnits:
                        type:
                          - string
                          - "null"
                      ProductCustomField1:
                        type:
                          - string
                          - "null"
                      ProductCustomField2:
                        type:
                          - string
                          - "null"
                      ProductCustomField3:
                        type:
                          - string
                          - "null"
                      ProductCustomField4:
                        type:
                          - string
                          - "null"
                      ProductCustomField5:
                        type:
                          - string
                          - "null"
                      ProductCustomField6:
                        type:
                          - string
                          - "null"
                      ProductCustomField7:
                        type:
                          - string
                          - "null"
                      ProductCustomField8:
                        type:
                          - string
                          - "null"
                      ProductCustomField9:
                        type:
                          - string
                          - "null"
                      ProductCustomField10:
                        type:
                          - string
                          - "null"
                Total:
                  type:
                    - number
                    - "null"
                Status:
                  type:
                    - string
                    - "null"
                TaskID:
                  type:
                    - string
                    - "null"
                Payments:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      ID:
                        type:
                          - string
                          - "null"
                      Amount:
                        type:
                          - number
                          - "null"
                      Account:
                        type:
                          - string
                          - "null"
                      DatePaid:
                        type:
                          - string
                          - "null"
                      Reference:
                        type:
                          - string
                          - "null"
                      DateCreated:
                        type:
                          - string
                          - "null"
                      CurrencyRate:
                        type:
                          - number
                          - "null"
                InvoiceDate:
                  type:
                    - string
                    - "null"
                  format: date-time
                CurrencyRate:
                  type:
                    - number
                    - "null"
                InvoiceNumber:
                  type:
                    - string
                    - "null"
                InvoiceDueDate:
                  type:
                    - string
                    - "null"
                  format: date-time
                TotalBeforeTax:
                  type:
                    - number
                    - "null"
          PutAway:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Lines:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      SKU:
                        type:
                          - string
                          - "null"
                      Date:
                        type:
                          - string
                          - "null"
                      Name:
                        type:
                          - string
                          - "null"
                      CardID:
                        type:
                          - string
                          - "null"
                      Location:
                        type:
                          - string
                          - "null"
                      Quantity:
                        type:
                          - number
                          - "null"
                      Received:
                        type:
                          - boolean
                          - "null"
                      ProductID:
                        type:
                          - string
                          - "null"
                      LocationID:
                        type:
                          - string
                          - "null"
                      WeightUnits:
                        type:
                          - string
                          - "null"
                      ProductWidth:
                        type:
                          - number
                          - "null"
                      ProductHeight:
                        type:
                          - number
                          - "null"
                      ProductLength:
                        type:
                          - number
                          - "null"
                      ProductWeight:
                        type:
                          - number
                          - "null"
                      DimensionsUnits:
                        type:
                          - string
                          - "null"
                      ProductCustomField1:
                        type:
                          - string
                          - "null"
                      ProductCustomField2:
                        type:
                          - string
                          - "null"
                      ProductCustomField3:
                        type:
                          - string
                          - "null"
                      ProductCustomField4:
                        type:
                          - string
                          - "null"
                      ProductCustomField5:
                        type:
                          - string
                          - "null"
                      ProductCustomField6:
                        type:
                          - string
                          - "null"
                      ProductCustomField7:
                        type:
                          - string
                          - "null"
                      ProductCustomField8:
                        type:
                          - string
                          - "null"
                      ProductCustomField9:
                        type:
                          - string
                          - "null"
                      ProductCustomField10:
                        type:
                          - string
                          - "null"
                Status:
                  type:
                    - string
                    - "null"
                TaskID:
                  type:
                    - string
                    - "null"
          TaxRule:
            type:
              - string
              - "null"
          Approach:
            type:
              - string
              - "null"
          Location:
            type:
              - string
              - "null"
          Supplier:
            type:
              - string
              - "null"
          OrderDate:
            type:
              - string
              - "null"
            format: date-time
          CreditNote:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Tax:
                  type:
                    - number
                    - "null"
                Lines:
                  type:
                    - array
                    - "null"
                Total:
                  type:
                    - number
                    - "null"
                Status:
                  type:
                    - string
                    - "null"
                TaskID:
                  type:
                    - string
                    - "null"
                Refunds:
                  type:
                    - array
                    - "null"
                Unstock:
                  type:
                    - array
                    - "null"
                CurrencyRate:
                  type:
                    - number
                    - "null"
                TotalBeforeTax:
                  type:
                    - number
                    - "null"
                CreditNoteInvoiceNumber:
                  type:
                    - string
                    - "null"
          RequiredBy:
            type:
              - string
              - "null"
            format: date-time
          SupplierID:
            type:
              - string
              - "null"
          Attachments:
            type:
              - array
              - "null"
          OrderNumber:
            type:
              - string
              - "null"
          BaseCurrency:
            type:
              - string
              - "null"
          BlindReceipt:
            type:
              - boolean
              - "null"
          CurrencyRate:
            type:
              - number
              - "null"
          IsServiceOnly:
            type:
              - boolean
              - "null"
          StockReceived:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Lines:
                  type:
                    - array
                    - "null"
                Status:
                  type:
                    - string
                    - "null"
                TaskID:
                  type:
                    - string
                    - "null"
          BillingAddress:
            type:
              - object
              - "null"
            properties:
              DisplayAddressLine1:
                type:
                  - string
                  - "null"
              DisplayAddressLine2:
                type:
                  - string
                  - "null"
          ManualJournals:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Lines:
                  type:
                    - array
                    - "null"
                Status:
                  type:
                    - string
                    - "null"
                TaskID:
                  type:
                    - string
                    - "null"
          TaxCalculation:
            type:
              - string
              - "null"
          LastUpdatedDate:
            type:
              - string
              - "null"
            format: date-time
          ShippingAddress:
            type:
              - object
              - "null"
            properties:
              City:
                type:
                  - string
                  - "null"
              Line1:
                type:
                  - string
                  - "null"
              Line2:
                type:
                  - string
                  - "null"
              State:
                type:
                  - string
                  - "null"
              Country:
                type:
                  - string
                  - "null"
              Postcode:
                type:
                  - string
                  - "null"
              ShipToOther:
                type:
                  - boolean
                  - "null"
              DisplayAddressLine1:
                type:
                  - string
                  - "null"
              DisplayAddressLine2:
                type:
                  - string
                  - "null"
          InventoryAccount:
            type:
              - string
              - "null"
          SupplierCurrency:
            type:
              - string
              - "null"
          InventoryMovements:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                COGS:
                  type:
                    - number
                    - "null"
                Date:
                  type:
                    - string
                    - "null"
                TaskID:
                  type:
                    - string
                    - "null"
                ProductID:
                  type:
                    - string
                    - "null"
                WeightUnits:
                  type:
                    - string
                    - "null"
                ProductWidth:
                  type:
                    - number
                    - "null"
                ProductHeight:
                  type:
                    - number
                    - "null"
                ProductLength:
                  type:
                    - number
                    - "null"
                ProductWeight:
                  type:
                    - number
                    - "null"
                DimensionsUnits:
                  type:
                    - string
                    - "null"
                ProductCustomField1:
                  type:
                    - string
                    - "null"
                ProductCustomField2:
                  type:
                    - string
                    - "null"
                ProductCustomField3:
                  type:
                    - string
                    - "null"
                ProductCustomField4:
                  type:
                    - string
                    - "null"
                ProductCustomField5:
                  type:
                    - string
                    - "null"
                ProductCustomField6:
                  type:
                    - string
                    - "null"
                ProductCustomField7:
                  type:
                    - string
                    - "null"
                ProductCustomField8:
                  type:
                    - string
                    - "null"
                ProductCustomField9:
                  type:
                    - string
                    - "null"
                ProductCustomField10:
                  type:
                    - string
                    - "null"
          AdditionalAttributes:
            type:
              - object
              - "null"
            properties:
              AdditionalAttribute1:
                type:
                  - string
                  - "null"
              AdditionalAttribute2:
                type:
                  - string
                  - "null"
              AdditionalAttribute3:
                type:
                  - string
                  - "null"
              AdditionalAttribute4:
                type:
                  - string
                  - "null"
              AdditionalAttribute5:
                type:
                  - string
                  - "null"
              AdditionalAttribute6:
                type:
                  - string
                  - "null"
              AdditionalAttribute7:
                type:
                  - string
                  - "null"
              AdditionalAttribute8:
                type:
                  - string
                  - "null"
              AdditionalAttribute9:
                type:
                  - string
                  - "null"
              AdditionalAttribute10:
                type:
                  - string
                  - "null"
          CombinedInvoiceStatus:
            type:
              - string
              - "null"
          CombinedPaymentStatus:
            type:
              - string
              - "null"
          CombinedReceivingStatus:
            type:
              - string
              - "null"
          RelatedDropShipSaleTask:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: leads
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/crm/lead
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - LeadList
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Name:
            type:
              - string
              - "null"
          Amount:
            type:
              - number
              - "null"
          TaxRule:
            type:
              - string
              - "null"
          Comments:
            type:
              - string
              - "null"
          Contacts:
            type:
              - array
              - "null"
          Currency:
            type:
              - string
              - "null"
          Addresses:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ID:
                  type:
                    - string
                    - "null"
                City:
                  type:
                    - string
                    - "null"
                Type:
                  type:
                    - string
                    - "null"
                Line1:
                  type:
                    - string
                    - "null"
                Line2:
                  type:
                    - string
                    - "null"
                State:
                  type:
                    - string
                    - "null"
                Country:
                  type:
                    - string
                    - "null"
                Postcode:
                  type:
                    - string
                    - "null"
                DefaultForType:
                  type:
                    - boolean
                    - "null"
          CloseDate:
            type:
              - string
              - "null"
          PriceTier:
            type:
              - string
              - "null"
          LeadStatus:
            type:
              - string
              - "null"
          CloseChance:
            type:
              - number
              - "null"
          PaymentTerm:
            type:
              - string
              - "null"
          SalesRepresentative:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: sales
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        url: https://inventory.dearsystems.com/externalapi/v2/sale
        http_method: GET
        request_headers:
          api-auth-accountid: "{{ config[\"accountid\"] }}"
          api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        request_parameters:
          IncludeTransactions: "true"
          CombineAdditionalCharges: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/12"
            parent_key: SaleID
            request_option:
              type: RequestOption
              field_name: ID
              inject_into: request_parameter
            partition_field: ID
    primary_key:
      - ID
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - ID
        properties:
          ID:
            type: string
          Note:
            type:
              - string
              - "null"
          Type:
            type:
              - string
              - "null"
          Email:
            type:
              - string
              - "null"
          Order:
            type:
              - object
              - "null"
            properties:
              Tax:
                type:
                  - number
                  - "null"
              Memo:
                type:
                  - string
                  - "null"
              Lines:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    SKU:
                      type:
                        - string
                        - "null"
                    Tax:
                      type:
                        - number
                        - "null"
                    Name:
                      type:
                        - string
                        - "null"
                    Price:
                      type:
                        - number
                        - "null"
                    Total:
                      type:
                        - number
                        - "null"
                    Comment:
                      type:
                        - string
                        - "null"
                    TaxRule:
                      type:
                        - string
                        - "null"
                    Discount:
                      type:
                        - number
                        - "null"
                    DropShip:
                      type:
                        - boolean
                        - "null"
                    Quantity:
                      type:
                        - number
                        - "null"
                    ProductID:
                      type:
                        - string
                        - "null"
[...]
